<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ConnectNNet.Server.WcfServer" behaviorConfiguration="">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:18235/WCFServer.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:18235/WCFServer.svc"
                  binding="basicHttpBinding"
                  contract="ConnectNNet.Server.IServer" />
      </service>
    </services>
    
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>