
body {
	-webkit-user-select: none;
	-moz-user-select: none;
}

h1, h2, h3, h4, h5, h6, p, img, li, .content {
	padding: 0.1em 5px;
	margin: 0.2em 5px;
}

.hide-content { 
	display:none; 
}

.content {
	display: block;
}

.action-box {
	margin-top: 10px;
}

/*---------------------------------------------------------------------------*/

.header-box {
	border-bottom: 1px solid #ccc;
	text-align: right;
}

.left-offset {
	float: left;
}

.right-offset {
	float: right;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
	margin: 0;
}

.menu-container {
	height: 88px;
	background-color: #293946;
}

.main-container {
    margin: 0 auto;
    width: 912px;
	
}

.left-jump {
	width: 70px;
	border-right: 1px solid #6E8492;
	height: 100%;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.right-jump {
	width: 70px;
	border-left: 1px solid #6E8492;
	height: 100%;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.right-jump a,
.left-jump a {
	display: block;
	margin: 15px;
	text-decoration: none;
}

.right-jump a,
.right-jump a:visited,
.right-jump a:active,
.left-jump a,
.left-jump a:visited,
.left-jump a:active {
	color: #009A28;
}

.descpiption-block {
	margin: 1px 5px 0 5px;
	height: 87px;
	padding: 0 5px;
	line-height: 17px;
	border-right: 1px solid #6E8492;
	color: #ccc;
}

.descpiption-block em {
	color: #D5B970;
}

.descpiption-block strong {
	color: #009A28;
}

.task-block {
	margin: 1px 5px 0 5px;
	padding: 0 5px;
	line-height: 17px;
	color: #ccc;
}