.taskbar {
    width:30%;
}

.label,.additional,.lists {
    width:120px;
}

.label,.additional,.lists {
    /*text-align: right;*/
}

.masthead h3 {
    font-weight: 500;
}

.site-body {
    padding-top: 40px;
}

.total {
    background: #f89406;
    font-weight: 700;
}

.size {
    text-align: right;
}

.docs p {
    font-size: 110%;
}

.docs {
    width:48%;
}

a {
    -webkit-transition:0.25s;
    -moz-transition:0.25s;
    transition:0.25s;
}

.download:hover {
    text-decoration: none;
    background: #ccc;
}

@media (min-width: 1200px){
    .docs {
        width:30%;
    }
}

@media (max-width: 979px) {
    .docs {
        width: 100%;
        max-width:500px;
    }
}

@media (max-width: 600px) {
    .download {
        position: static;
        float:left;
        margin-top:15px;
    }
}