<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <ClientApplication.Properties.Settings>
            <setting name="ClientApplication_MyService1_Service1" serializeAs="String">
                <value>http://localhost:16501/Service1.svc</value>
            </setting>
            <setting name="ClientApplication_MyService2_Service2" serializeAs="String">
                <value>http://localhost:16501/Service2.svc</value>
            </setting>
            <setting name="ClientApplication_MyService3_Service3" serializeAs="String">
                <value>http://localhost:16501/Service3.svc</value>
            </setting>
            <setting name="ClientApplication_MyService4_Service4" serializeAs="String">
                <value>http://localhost:16501/Service4.svc</value>
            </setting>
        </ClientApplication.Properties.Settings>
    </applicationSettings>
</configuration>