#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS

#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)
#ifdef _WIN32
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page( [ DEFAULT | CodePageNum ] )
#endif

IDR_MAINFRAME ICON "AppIcon.ico"

#ifdef APSTUDIO_INVOKED

1 TEXTINCLUDE DISCARDABLE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE DISCARDABLE 
BEGIN
    "#include ""afxres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE DISCARDABLE 
BEGIN
    "\r\n"
    "\0"
END

#endif

MAIN DIALOG DISCARDABLE  0, 0, 402, 248
STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU
CAPTION "HDD S.M.A.R.T. Monitor"
CLASS "MAIN"
FONT 9, "FixedSys"
BEGIN
    GROUPBOX        "",IDC_STATIC,4,213,394,30
    COMBOBOX        IDC_COMBO1,40,224,80,60, WS_VSCROLL | CBS_DROPDOWNLIST | 
                    CBS_HASSTRINGS
    DEFPUSHBUTTON   "Refresh",IDOK,135,223,80,14
    PUSHBUTTON      "About",IDABOUT,222,223,80,14
    PUSHBUTTON      "Exit",IDCANCEL,309,223,80,14
    CTEXT           "Disk: ",IDC_STATIC,10,224,25,12,SS_CENTERIMAGE
    CTEXT           "",IDC_STATIC1,4,2,394,14,SS_CENTERIMAGE | WS_BORDER
    LISTBOX         IDC_LIST1,130,38,268,175,NOT LBS_NOTIFY | 
                    LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | LBS_NOSEL | 
                    WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Get VERSION",IDC_STATIC,4,22,122,79
    LTEXT           "Version",IDC_STATIC,10,35,58,8,SS_CENTERIMAGE
    LTEXT           "Revision",IDC_STATIC,10,48,58,8,SS_CENTERIMAGE
    LTEXT           "Capabilities",IDC_STATIC,10,61,58,8,SS_CENTERIMAGE
    LTEXT           "DeviceMap",IDC_STATIC,10,74,58,8,SS_CENTERIMAGE
    LTEXT           "BytesReturned",IDC_STATIC,10,87,58,8,SS_CENTERIMAGE
    CTEXT           "",IDC_STATIC2,70,35,51,8,SS_CENTERIMAGE | WS_BORDER
    CTEXT           "",IDC_STATIC3,70,48,51,8,SS_CENTERIMAGE | WS_BORDER
    CTEXT           "",IDC_STATIC4,70,61,51,8,SS_CENTERIMAGE | WS_BORDER
    CTEXT           "",IDC_STATIC5,70,74,51,8,SS_CENTERIMAGE | WS_BORDER
    CTEXT           "",IDC_STATIC6,70,87,51,8,SS_CENTERIMAGE | WS_BORDER
    GROUPBOX        "IDENTIFY DEVICE DATA",IDC_STATIC,4,109,122,104
    LTEXT           "Model number:",IDC_STATIC,10,123,110,8,SS_CENTERIMAGE
    LTEXT           "Firmware revision:",IDC_STATIC,10,153,110,8,
                    SS_CENTERIMAGE
    LTEXT           "Serial number:",IDC_STATIC,10,184,110,8,SS_CENTERIMAGE
    LTEXT           "",IDC_STATIC7,10,135,110,10,SS_CENTERIMAGE | WS_BORDER
    LTEXT           "",IDC_STATIC8,10,165,110,10,SS_CENTERIMAGE | WS_BORDER
    LTEXT           "",IDC_STATIC9,10,196,110,10,SS_CENTERIMAGE | WS_BORDER
    CTEXT           "id",IDC_STATIC,130,26,14,10,SS_CENTERIMAGE | WS_BORDER
    CTEXT           "raw value",IDC_STATIC,146,26,38,10,SS_CENTERIMAGE | 
                    WS_BORDER
    CTEXT           "current",IDC_STATIC,186,26,29,10,SS_CENTERIMAGE | 
                    WS_BORDER
    CTEXT           "worst",IDC_STATIC,217,26,22,10,SS_CENTERIMAGE | 
                    WS_BORDER
    CTEXT           "threshold",IDC_STATIC,241,26,38,10,SS_CENTERIMAGE | 
                    WS_BORDER
    CTEXT           "attribute name",IDC_STATIC,281,26,108,10,SS_CENTERIMAGE | 
                    WS_BORDER
END

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE 
BEGIN
    "MAIN", DIALOG
    BEGIN
        RIGHTMARGIN, 380
        BOTTOMMARGIN, 270
    END
END
#endif

#endif
#ifndef APSTUDIO_INVOKED
#endif
