<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.4">
  <display-name>Task1</display-name>
  <filter>
    <description>
		</description>
    <display-name>Subtask6Filter</display-name>
    <filter-name>Subtask6Filter</filter-name>
    <filter-class>by.gsu.lab.controllers.Subtask6FilterIndex</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Subtask6Filter</filter-name>
    <url-pattern>/subtask6-index.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <description>
		</description>
    <display-name>AbstractBaseController</display-name>
    <servlet-name>AbstractBaseController</servlet-name>
    <servlet-class>by.gsu.lab.controllers.AbstractBaseController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>Subtask1Controller</display-name>
    <servlet-name>Subtask1Controller</servlet-name>
    <servlet-class>by.gsu.lab.controllers.Subtask1Controller</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>Subtask2Controller</display-name>
    <servlet-name>Subtask2Controller</servlet-name>
    <servlet-class>by.gsu.lab.controllers.Subtask2Controller</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>Subtask3Controller</display-name>
    <servlet-name>Subtask3Controller</servlet-name>
    <servlet-class>by.gsu.lab.controllers.Subtask3Controller</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>Subtask4Controller</display-name>
    <servlet-name>Subtask4Controller</servlet-name>
    <servlet-class>by.gsu.lab.controllers.Subtask4Controller</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>Subtask5Controller</display-name>
    <servlet-name>Subtask5Controller</servlet-name>
    <servlet-class>by.gsu.lab.controllers.Subtask5Controller</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>Subtask6AppendController</display-name>
    <servlet-name>Subtask6AppendController</servlet-name>
    <servlet-class>by.gsu.lab.controllers.Subtask6AppendController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>Subtask6SearchController</display-name>
    <servlet-name>Subtask6SearchController</servlet-name>
    <servlet-class>by.gsu.lab.controllers.Subtask6SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbstractBaseController</servlet-name>
    <url-pattern>/AbstractBaseController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Subtask1Controller</servlet-name>
    <url-pattern>/Subtask1Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Subtask2Controller</servlet-name>
    <url-pattern>/Subtask2Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Subtask3Controller</servlet-name>
    <url-pattern>/Subtask3Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Subtask4Controller</servlet-name>
    <url-pattern>/Subtask4Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Subtask5Controller</servlet-name>
    <url-pattern>/Subtask5Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Subtask6AppendController</servlet-name>
    <url-pattern>/Subtask6AppendController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Subtask6SearchController</servlet-name>
    <url-pattern>/Subtask6SearchController</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
</web-app>