<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConnectNNet.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TicTacToeNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ConnectNNet.Client.Properties.Settings>
            <setting name="Login" serializeAs="String">
                <value>Игрок 1</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>390</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="WindowMax" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerAdress" serializeAs="String">
                <value>http://localhost:18235/WCFServer.svc</value>
            </setting>
            <setting name="IsInetGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerVSBotScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BotScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rows" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Columns" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="VinCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Side" serializeAs="String">
                <value>1</value>
            </setting>
        </ConnectNNet.Client.Properties.Settings>
        <TicTacToeNet.Properties.Settings>
            <setting name="Login" serializeAs="String">
                <value>Игрок 1</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>390</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="WindowMax" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerAdress" serializeAs="String">
                <value>http://i921171-001-site1.atempurl.com/WCFServer.svc</value>
            </setting>
            <setting name="IsInetGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerVSBotScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BotScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rows" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Columns" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="VinCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Side" serializeAs="String">
                <value>1</value>
            </setting>
        </TicTacToeNet.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:18235/WCFServer.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServer" contract="WcfServer.IServer"
                name="BasicHttpBinding_IServer" />
        </client>
    </system.serviceModel>
</configuration>